@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');


body{
    background-image :url(./famous/template3.png);
    background-repeat: no-repeat;
    background-size: 100% 700px;
}
h1{
    display:flex;
    justify-content: center;
    padding-top :110px;
    font-family: 'Pacifico', cursive;
    color : orangered;
    font-size : 100px;
    
}

h1 span{
    display:flex;
    justify-content: center;
    font-family: 'Caveat', cursive;
    color : mediumvioletred;
    font-size : 30px;
    padding-top : 140px;
}

.mid{
    padding-top : 50px;
    padding-left : 700px;
}

.link-button {
    background:mediumorchid;
    font-weight: 200;
    color: white;
    letter-spacing: 1.5px;
    text-align: center;
    cursor: pointer;
    font-size: 1.8em;
    padding: 10px;
    text-decoration: none;
    font-family:'IBM Plex Sans', sans-serif;
    
  }
  
  .link-button:hover {
    color: black;
  }
  